.formupdate {
  z-index: 99;
}
.mem_up_side_menu .mem_up_side_texts a#team_sub:hover {
    color: #c72227;
}
.mem_up_side_menu .mem_up_side_texts a#team_diss:hover {
    color: #c72227;
}
.member_detail {
  margin-top: 20px;
}
.detail_title {
  font-size: 15px;
  -moz-box-sizing: content-box;
  color: #485057;
  -o-text-overflow: ellipsis;
  font: normal normal bold 15px/1 Arial, Helvetica, sans-serif;
}

.detail_line {
  margin: 10px auto 10px auto;
  width: 300px;
  border: 0.1px solid #CED4DA;
  color: #485057;

}
.detail_textarea {
  margin: 10px auto 20px auto;
  width: 300px;
  height: 120px;
  color: #485057;

}
ul#member_List_Paging {
  display: table;
  margin: 20px auto auto auto;
}
.teamupdateinfo {
  marign: auto auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(255, 255, 255, 1.0);
}

.fieldform {
  margin-bottom: 12px;
}

img#member_currnt_img {
  display: block;
  justify-content: center;
  max-height: 400px;
  max-width: 400px;
  margin: auto auto 30px auto;
  border-radius: 4px;
}
div#update_mid_content {
  position: fixed;
  left: 400px;
  right: 400px;
  /* display: contents; */
}

input#img_upload_btn{
  width: 300px;
  height: 60px;
  background-color: #22C781;
  color: white;
  border-radius: 4px;
  margin-top: 50px;
}
.member_delete form.member_delete_form {
  margin-top: 150px;
}

.mem_up_side_menu {
  height: 517px;
  width: 191px;
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.mem_up_side_title {
  font-family: "AppleSDGothicNeo-Bold", Helvetica, Arial, serif;
  font-size: 16.0px;
  color: rgba(0, 0, 0, 1.0);
  text-align: left;
  line-height: 20.0px;
  margin: 20px auto 10px auto;
}

.mem_up_side_text_css {
  font-family: "AppleSDGothicNeo-SemiBold", Helvetica, Arial, serif;
  font-size: 14.0px;
  text-align: left;
  line-height: 35.0px;
}

img.right_content_img {
  background-color: rgba(255, 255, 255, 0.0);
  -ms-transform: rotate(0deg);
  /* IE 9 */
}

.mem_up_right_content {
  position: fixed;
  right: 0;
  float: right;
  right: -500px;
}

.member_update_sides {
  position: fixed;
  float: left;
  top: 200px;
  left: 120px;
}

.texttitlepg11 {
  -ms-transform: rotate(0deg);
  /* IE 9 */
  font-family: "AppleSDGothicNeo-Bold", Helvetica, Arial, serif;
  font-size: 16.0px;
  color: rgba(0, 0, 0, 1.0);
  text-align: left;
  line-height: 19.0px;
}

.imgsignupbtnbg button.upload_btns {
  width: 100%;
  height: 100%;
  background-color: #22C781;
  color: white;
  border-radius: 4px;
}
button.upload_btns2 {
  width: 100%;
  height: 100%;
  background-color: #00C5FF;
  color: white;
  border-radius: 4px;
}

.playerupdateinfo .fieldpassword {
  margin-top: 15px;
}

.playerupdateinfo .checkPw {
  margin-top: 1%;
}

.playerupdateinfo .imgbirthbg {
  margin-top: 15px;
}

.playerupdateinfo .birthday {
  position: absolute;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  font-family: "AppleSDGothicNeo-Bold", Helvetica, Arial, serif;
  font-size: 16.0px;
  color: rgba(0, 0, 0, 1.0);
  text-align: left;
  line-height: 19.0px;
}

.playerupdateinfo input#datepicker {
  margin-top: 22px;
}

.playerupdateinfo select#memberLocation {
  position: absolute;
  top: 35px;
}

.playerupdateinfo span.span1 {
  font-family: "AppleSDGothicNeo-Bold", Helvetica, Arial, serif;
  font-size: 16.0px;
  color: rgba(0, 0, 0, 1.0);
  text-align: left;
}

.playerupdateinfo {
  marign: auto auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(255, 255, 255, 1.0);
}

.imgsignupbtnbg {
  height: 59px;
  width: 300px;
  margin: auto auto;
  margin-top: 50px;
  -ms-transform: rotate(0deg);
  /* IE 9 */
}

.playerupdateinfo .texttitlepg1 {
  -ms-transform: rotate(0deg);
  /* IE 9 */
  font-family: "AppleSDGothicNeo-Bold", Helvetica, Arial, serif;
  font-size: 16.0px;
  color: rgba(255, 255, 255, 1.0);
  text-align: center;
}

.playerupdateinfo .formupdate {
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}

.playerupdateinfo .formupdate .fieldnickname1 {
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}

.playerupdateinfo .formupdate .fieldnickname1 .imgpath {
  background-color: rgba(255, 255, 255, 0.0);
  top: 53px;
  height: 3px;
  width: 472px;
  position: absolute;
  margin: 0;
  left: 8px;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}

.fieldnickname1 .textcontentpg1 {
  -ms-transform: rotate(0deg);
  /* IE 9 */
  transform: rotate(0deg);
  font-family: "AppleSDGothicNeo-Thin", Helvetica, Arial, serif;
  font-size: 14.0px;
  color: rgba(0, 0, 0, 1.0);
  line-height: 35.0px;
}

.playerupdateinfo .formupdate .fieldnickname1 .texttitlepg11 {
  background-color: rgba(255, 255, 255, 0.0);
  -ms-transform: rotate(0deg);
  /* IE 9 */
  font-size: 16.0px;
  color: rgba(0, 0, 0, 1.0);
  text-align: left;
  line-height: 19.0px;
}

.playerupdateinfo .formupdate .fieldfullname {
  background-color: rgba(255, 255, 255, 0.0);
  top: 80px;
  height: 58px;
  width: 480px;
  position: absolute;
  margin: 0;
  left: 2px;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}

.playerupdateinfo .formupdate .fieldfullname .imgpath {
  background-color: rgba(255, 255, 255, 0.0);
  top: 55px;
  height: 3px;
  width: 474px;
  position: absolute;
  margin: 0;
  left: 6px;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}

.formupdate .fieldfullname .textcontentpg1 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 19px;
  height: auto;
  width: 183px;
  position: absolute;
  margin: 0;
  left: 6px;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "AppleSDGothicNeo-Thin", Helvetica, Arial, serif;
  font-size: 14.0px;
  color: rgba(0, 0, 0, 1.0);
  text-align: left;
  line-height: 35.0px;
}

.playerupdateinfo .formupdate .fieldfullname .texttitlepg11 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 0px;
  height: auto;
  width: 263px;
  position: absolute;
  margin: 0;
  left: 0px;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "AppleSDGothicNeo-Bold", Helvetica, Arial, serif;
  font-size: 16.0px;
  color: rgba(0, 0, 0, 1.0);
  text-align: left;
  line-height: 19.0px;
}

.playerupdateinfo .formupdate .fieldbirth {
  background-color: rgba(255, 255, 255, 0.0);
  top: 158px;
  height: 56px;
  width: 469px;
  position: absolute;
  margin: 0;
  left: 2px;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}

.playerupdateinfo .formupdate .fieldbirth .textyear {
  background-color: rgba(255, 255, 255, 0.0);
  top: 29px;
  height: 25px;
  width: 55px;
  position: absolute;
  margin: 0;
  left: 355px;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "HelveticaNeue-UltraLight", Helvetica, Arial, serif;
  font-size: 12.0px;
  color: rgba(0, 0, 0, 1.0);
  text-align: center;
  line-height: 35.0px;
}

.playerupdateinfo .formupdate .fieldbirth .textyear .span2 {
  font-family: "AppleSDGothicNeo-Thin", Helvetica, Arial, serif;
}

.playerupdateinfo .formupdate .fieldbirth .textmonth {
  background-color: rgba(255, 255, 255, 0.0);
  top: 29px;
  height: 25px;
  width: 58px;
  position: absolute;
  margin: 0;
  left: 189px;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "HelveticaNeue-UltraLight", Helvetica, Arial, serif;
  font-size: 12.0px;
  color: rgba(0, 0, 0, 1.0);
  text-align: center;
  line-height: 35.0px;
}

.playerupdateinfo .formupdate .fieldbirth .textmonth .span2 {
  font-family: "AppleSDGothicNeo-Thin", Helvetica, Arial, serif;
}

.playerupdateinfo .formupdate .fieldbirth .textday {
  background-color: rgba(255, 255, 255, 0.0);
  top: 29px;
  height: 25px;
  width: 58px;
  position: absolute;
  margin: 0;
  left: 40px;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "AppleSDGothicNeo-Thin", Helvetica, Arial, serif;
  font-size: 12.0px;
  color: rgba(0, 0, 0, 1.0);
  text-align: center;
  line-height: 35.0px;
}

.playerupdateinfo .formupdate .fieldbirth .texttitlepg11 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 0px;
  height: auto;
  width: 262px;
  position: absolute;
  margin: 0;
  left: 0px;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "AppleSDGothicNeo-Bold", Helvetica, Arial, serif;
  font-size: 16.0px;
  color: rgba(0, 0, 0, 1.0);
  text-align: left;
  line-height: 19.0px;
}

.playerupdateinfo .formupdate .fieldbirth .imgbirthbg {
  background-color: rgba(255, 255, 255, 0.0);
  top: 28px;
  height: 28px;
  box-sizing: border-box;
  width: 175px;
  position: absolute;
  margin: 0;
  left: 294px;
  border-radius: 1px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(222, 227, 232, 1.0);
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}

.formupdate .fieldbirth .imgbirthbg1 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 28px;
  height: 28px;
  box-sizing: border-box;
  width: 139px;
  position: absolute;
  margin: 0;
  left: 148px;
  border-radius: 1px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(222, 227, 232, 1.0);
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}

.formupdate .fieldbirth .imgbirthbg2 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 28px;
  height: 28px;
  box-sizing: border-box;
  width: 139px;
  position: absolute;
  margin: 0;
  left: 3px;
  border-radius: 1px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(222, 227, 232, 1.0);
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}

.formupdate .fieldloctypetime {
  /* background-color: rgba(255, 255, 255, 0.0); */
  margin-bottom: 12px;
  display: -webkit-box;
  /* top: 232px; */
  /* height: 55px; */
  /* width: 473px; */
  /* position: absolute; */
  /* margin: 0; */
  /* left: 0px; */
  -ms-transform: rotate(0deg);
  /* IE 9 */
  /* -webkit-transform: rotate(0deg); */
  /* Chrome, Safari, Opera */
  /* transform: rotate(0deg); */
}

.formupdate .fieldloctypetime .imgbirthbg {
  /* background-color: rgba(255, 255, 255, 0.0); */
  /* top: 27px; */
  /* height: 28px; */
  width: 30%;
  /* box-sizing: border-box; */
  /* width: 175px; */
  /* position: absolute; */
  /* margin: 0; */
  /* left: 298px; */
  /* border-radius: 1px; */
  /* border-style: solid; */
  /* border-width: 1px; */
  /* border-color: rgba(222, 227, 232, 1.0); */
  -ms-transform: rotate(0deg);
  /* IE 9 */
  /* -webkit-transform: rotate(0deg); */
  /* Chrome, Safari, Opera */
  /* transform: rotate(0deg); */
}

.formupdate .fieldloctypetime .imgbirthbg1 {
  /* background-color: rgba(255, 255, 255, 0.0); */
  /* top: 27px; */
  /* height: 28px; */
  width: 30%;
  margin: auto 5% auto 5%;
  /* box-sizing: border-box; */
  /* width: 139px; */
  /* position: absolute; */
  /* margin: 0; */
  /* left: 152px; */
  /* border-radius: 1px; */
  /* border-style: solid; */
  /* border-width: 1px; */
  /* border-color: rgba(222, 227, 232, 1.0); */
  -ms-transform: rotate(0deg);
  /* IE 9 */
  /* -webkit-transform: rotate(0deg); */
  /* Chrome, Safari, Opera */
  /* transform: rotate(0deg); */
}

.formupdate .fieldloctypetime .imgbirthbg2 {
  /* background-color: rgba(255, 255, 255, 0.0); */
  /* top: 27px; */
  width: 30%;
  /* height: 28px; */
  /* box-sizing: border-box; */
  /* width: 139px; */
  /* position: absolute; */
  /* margin: 0; */
  /* left: 7px; */
  /* border-radius: 1px; */
  /* border-style: solid; */
  /* border-width: 1px; */
  /* border-color: rgba(222, 227, 232, 1.0); */
  -ms-transform: rotate(0deg);
  /* IE 9 */
  /* -webkit-transform: rotate(0deg); */
  /* Chrome, Safari, Opera */
  /* transform: rotate(0deg); */
}

.formupdate .fieldloctypetime .textyear {
  background-color: rgba(255, 255, 255, 0.0);
  top: 28px;
  height: 25px;
  width: 73px;
  position: absolute;
  margin: 0;
  left: 342px;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "HelveticaNeue-UltraLight", Helvetica, Arial, serif;
  font-size: 12.0px;
  color: rgba(0, 0, 0, 1.0);
  text-align: center;
  line-height: 35.0px;
}
.formupdate .fieldloctypetime .textmonth {
  background-color: rgba(255, 255, 255, 0.0);
  top: 28px;
  height: 25px;
  width: 58px;
  position: absolute;
  margin: 0;
  left: 183px;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "AppleSDGothicNeo-Thin", Helvetica, Arial, serif;
  font-size: 12.0px;
  color: rgba(0, 0, 0, 1.0);
  text-align: center;
  line-height: 35.0px;
}
.formupdate .fieldloctypetime .textday {
  background-color: rgba(255, 255, 255, 0.0);
  top: 28px;
  height: 25px;
  width: 58px;
  position: absolute;
  margin: 0;
  left: 40px;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "AppleSDGothicNeo-Thin", Helvetica, Arial, serif;
  font-size: 12.0px;
  color: rgba(0, 0, 0, 1.0);
  text-align: center;
  line-height: 35.0px;
}

.formupdate .fieldloctypetime .texttitlepg13 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 0px;
  height: auto;
  width: 137px;
  position: absolute;
  margin: 0;
  left: 0px;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "AppleSDGothicNeo-Bold", Helvetica, Arial, serif;
  font-size: 14.0px;
  color: rgba(0, 0, 0, 1.0);
  text-align: left;
  line-height: 17.0px;
}

.formupdate .fieldloctypetime .texttitlepg11 {
  /* background-color: rgba(255, 255, 255, 0.0); */
  /* top: 0px; */
  /* height: auto; */
  /* width: 137px; */
  /* position: absolute; */
  /* margin: 0; */
  /* left: 149px; */
  -ms-transform: rotate(0deg);
  /* IE 9 */
  /* -webkit-transform: rotate(0deg); */
  /* Chrome, Safari, Opera */
  /* transform: rotate(0deg); */
  /* font-family: "AppleSDGothicNeo-Bold", Helvetica, Arial, serif; */
  /* font-size: 14.0px; */
  /* color: rgba(0, 0, 0, 1.0); */
  /* text-align: left; */
  /* line-height: 17.0px; */
}

.formupdate .fieldloctypetime .texttitlepg12 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 0px;
  height: auto;
  width: 173px;
  position: absolute;
  margin: 0;
  left: 299px;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "AppleSDGothicNeo-Bold", Helvetica, Arial, serif;
  font-size: 14.0px;
  color: rgba(0, 0, 0, 1.0);
  text-align: left;
  line-height: 17.0px;
}

.playerupdateinfo .formupdate .fieldcharacter {
  -ms-transform: rotate(0deg);
  margin-top: 15px;
}

.playerupdateinfo .formupdate .fieldcharacter .imgbirthbg {
  top: 26px;
  height: 28px;
  box-sizing: border-box;
  width: 478px;
  position: absolute;
  margin: 0;
  left: 0px;
  border-radius: 1px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(222, 227, 232, 1.0);
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}

.playerupdateinfo .formupdate .fieldcharacter .textmonth {
  background-color: rgba(255, 255, 255, 0.0);
  top: 31px;
  height: 17px;
  width: 182px;
  position: absolute;
  margin: 0;
  left: 16px;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "AppleSDGothicNeo-Thin", Helvetica, Arial, serif;
  font-size: 12.0px;
  color: rgba(0, 0, 0, 1.0);
  text-align: left;
  line-height: 35.0px;
}

.playerupdateinfo .formupdate .fieldcharacter .texttitlepg11 {
  background-color: rgba(255, 255, 255, 0.0);
  height: auto;
  width: 265px;
  position: absolute;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "AppleSDGothicNeo-Bold", Helvetica, Arial, serif;
  font-size: 16.0px;
  color: rgba(0, 0, 0, 1.0);
  text-align: left;
  line-height: 19.0px;
  margin-bottom: 10px;
}

.playerupdateinfo .formupdate .fieldcharacter .texttitlepg11 .span2 {
  font-family: "HelveticaNeue-Bold", Helvetica, Arial, serif;
}

.playerupdateinfo .formupdate .fieldcharacter .uea0d {
  background-color: rgba(255, 255, 255, 0.0);
  top: 30px;
  height: auto;
  width: 34px;
  position: absolute;
  margin: 0;
  left: 436px;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "material", Helvetica, Arial, serif;
  font-size: 16.0px;
  color: rgba(135, 142, 150, 1.0);
  text-align: left;
  line-height: 16.0px;
}

.playerupdateinfo .formupdate .fieldfirstname {
  /* width: 100%; */
  margin-top: 15px;
  -ms-transform: rotate(0deg);
  /* IE 9 */
}

.playerupdateinfo .formupdate .fieldfirstname .imgpath {
  background-color: rgba(255, 255, 255, 0.0);
  top: 58px;
  height: 3px;
  width: 472px;
  position: absolute;
  margin: 0;
  left: 12px;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}

.formupdate .fieldfirstname .textcontentpg1 {
  -ms-transform: rotate(0deg);
  /* IE 9 */
  font-family: "AppleSDGothicNeo-Thin", Helvetica, Arial, serif;
  font-size: 14.0px;
  text-align: left;
}

.playerupdateinfo .formupdate .fieldfirstname .texttitlepg11 {
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  font-family: "AppleSDGothicNeo-Bold", Helvetica, Arial, serif;
  font-size: 16.0px;
}

.playerupdateinfo .formupdate .fieldfirstname .texttitlepg11 .span2 {
  font-family: "HelveticaNeue-Bold", Helvetica, Arial, serif;
}

.playerupdateinfo .fieldnickname {
  background-color: rgba(255, 255, 255, 0.0);
  top: 169px;
  height: 517px;
  width: 191px;
  position: absolute;
  margin: 0;
  left: 150px;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}

.playerupdateinfo .fieldnickname .imgpath {
  background-color: rgba(255, 255, 255, 0.0);
  top: 495px;
  height: 22px;
  width: 178px;
  position: absolute;
  margin: 0;
  left: 0px;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}

.fieldnickname .textcontentpg1 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 19px;
  height: auto;
  width: 183px;
  position: absolute;
  margin: 0;
  left: 8px;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "AppleSDGothicNeo-SemiBold", Helvetica, Arial, serif;
  font-size: 14.0px;
  color: rgba(72, 80, 87, 1.0);
  text-align: left;
  line-height: 35.0px;
}

.playerupdateinfo .fieldnickname .textcontentpg11 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 54px;
  height: auto;
  width: 183px;
  position: absolute;
  margin: 0;
  left: 8px;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "AppleSDGothicNeo-Thin", Helvetica, Arial, serif;
  font-size: 14.0px;
  color: rgba(72, 80, 87, 1.0);
  text-align: left;
  line-height: 35.0px;
}

.playerupdateinfo .fieldnickname .texttitlepg11 {
  background-color: rgba(255, 255, 255, 0.0);
  top: 0px;
  height: auto;
  width: 99px;
  position: absolute;
  margin: 0;
  left: 0px;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  font-family: "AppleSDGothicNeo-Bold", Helvetica, Arial, serif;
  font-size: 16.0px;
  color: rgba(0, 0, 0, 1.0);
  text-align: left;
  line-height: 19.0px;
}

.hsubtitlepg1 {
  margin: 50px 50px;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  transform: rotate(0deg);
}

.hsubtitlepg1 .texthtitle {
  -ms-transform: rotate(0deg);
  /* IE 9 */
  font-size: 24.0px;
  color: rgba(39, 44, 49, 1.0);
  text-align: center;
  line-height: 50.0px;
}