
.playersignuppg3 {
  width               : 100%;
  min-width           : 1024px;
  min-height          : 780px;
  position            : relative;
  overflow            : hidden;
   margin-top              : 80px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}


.playersignuppg3 .shadow {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 780px;
  width               : 30px;
  position            : absolute;
  margin              : 0;
  left                : 282px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.6;
}
.playersignuppg3 .fieldbtm {
  background-color    : rgba(255,255,255,0.0);
  top                 : 670px;
  height              : 106px;
  width               : 712px;
  position            : absolute;
  margin              : 0;
  left                : 310px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.playersignuppg3 .fieldbtm .imgbtmbg {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 4px;
  height              : 106px;
  width               : 712px;
  position            : absolute;
  margin              : 0;
  left                : 2px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.playersignuppg3 .fieldbtm .btnnextstep {
  background-color    : rgba(255,255,255,0.0);
  top                 : 34px;
  height              : 52px;
  width               : 128px;
  position            : absolute;
  margin              : 0;
  left                : 440px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.playersignuppg3 .fieldbtm .btnnextstep .imgnextbtnbg {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 52px;
  width               : 128px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.playersignuppg3 .fieldbtm .btnnextstep .textnext {
  background-color    : rgba(255,255,255,0.0);
  top                 : 11px;
  height              : auto;
  width               : 80px;
  position            : absolute;
  margin              : 0;
  left                : 24px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSDGothicNeo-Medium", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 24.0px;
}
.playersignuppg3 .fieldbtm .btnprevstep {
  background-color    : rgba(255,255,255,0.0);
  top                 : 34px;
  height              : 53px;
  width               : 128px;
  position            : absolute;
  margin              : 0;
  left                : 302px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.playersignuppg3 .fieldbtm .btnprevstep .imgprevbtnbg {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 53px;
  width               : 128px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.playersignuppg3 .fieldbtm .btnprevstep .textprev {
  background-color    : rgba(255,255,255,0.0);
  top                 : 12px;
  height              : auto;
  width               : 100px;
  position            : absolute;
  margin              : 0;
  left                : 14px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSDGothicNeo-Medium", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(114, 145, 158, 1.0);
  text-align          : center;
  line-height         : 24.0px;
}
.playersignuppg3 .fieldbtm .imgprogressbar {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 11px;
  width               : 709px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.playersignuppg3 .fieldbtm .imgprogress10p {
  background-color    : rgba(67, 201, 184, 1.0);
  top                 : 3px;
  height              : 9px;
  box-sizing          : border-box;
  width               : 403px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-style        : solid;
  border-width        : 4px;
  border-color        : rgba(67, 201, 184, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.playersignuppg3 .fieldchkbox {
  background-color    : rgba(255,255,255,0.0);
  top                 : 267px;
  height              : 359px;
  width               : 534px;
  position            : absolute;
  margin              : 0;
  left                : 373px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.playersignuppg3 .fieldchkbox .texttitle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 96px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSDGothicNeo-Bold", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.playersignuppg3 .fieldchkbox .filedselect {
  background-color    : rgba(255,255,255,0.0);
  top                 : 214px;
  height              : 145px;
  width               : 154px;
  position            : absolute;
  margin              : 0;
  left                : 380px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.playersignuppg3 .fieldchkbox .filedselect .text {
  background-color    : rgba(255,255,255,0.0);
  top                 : 62px;
  height              : 83px;
  width               : 154px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.playersignuppg3 .fieldchkbox .filedselect .text .imgchkbox {
  background-color    : rgba(255,255,255,0.0);
  top                 : 8px;
  height              : 18px;
  width               : 13px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.playersignuppg3 .fieldchkbox .filedselect .text .imgchk {
  background-color    : rgba(255,255,255,0.0);
  top                 : 13px;
  height              : 7px;
  width               : 5px;
  position            : absolute;
  margin              : 0;
  left                : 4px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.playersignuppg3 .fieldchkbox .filedselect .text .ud300uc6d0uc758ud300uc6d0uc5d0uc758ud55cud300uc6d0uc744uc704ud558ub294 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 39px;
  height              : auto;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 6px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSDGothicNeo-Bold", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : #07172A
  text-align          : left;
  line-height         : 22.0px;
}
.playersignuppg3 .fieldchkbox .filedselect .text .texttitle1 {
  font-family         : "AppleSDGothicNeo-Bold", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : #07172A
  text-align          : left;
  line-height         : 30.0px;
  display: -webkit-inline-box
}

.playersignuppg3 .fieldchkbox .filedselect .imgicon6pg3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 50px;
  width               : 50px;
  position            : absolute;
  margin              : 0;
  left                : 49px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.playersignuppg3 .fieldchkbox .filedselect1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 214px;
  height              : 145px;
  width               : 154px;
  position            : absolute;
  margin              : 0;
  left                : 190px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.playersignuppg3 .fieldchkbox .filedselect1 .text {
  background-color    : rgba(255,255,255,0.0);
  top                 : 62px;
  height              : 83px;
  width               : 154px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.playersignuppg3 .fieldchkbox .filedselect1 .text .imgchkbox {
  background-color    : rgba(255,255,255,0.0);
  top                 : 8px;
  height              : 18px;
  width               : 13px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.playersignuppg3 .fieldchkbox .filedselect1 .text .uacf5uaca9uc774uba74uacf5uaca9uc218ube44uba74uc218ube44ub2e4ubc29uba74uc5d0 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 39px;
  height              : auto;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 6px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSDGothicNeo-Bold", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(107, 107, 115, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.playersignuppg3 .fieldchkbox .filedselect1 .text .texttitle1 {
  font-family         : "AppleSDGothicNeo-Bold", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : #07172A
  text-align          : left;
  line-height         : 30.0px;
  display: -webkit-inline-box
}
.playersignuppg3 .fieldchkbox .filedselect1 .imgicon5pg3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 50px;
  width               : 50px;
  position            : absolute;
  margin              : 0;
  left                : 51px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.playersignuppg3 .fieldchkbox .filedselect2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 214px;
  height              : 145px;
  width               : 154px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.playersignuppg3 .fieldchkbox .filedselect2 .text {
  background-color    : rgba(255,255,255,0.0);
  top                 : 62px;
  height              : 83px;
  width               : 154px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.playersignuppg3 .fieldchkbox .filedselect2 .text .imgchkbox {
  background-color    : rgba(255,255,255,0.0);
  top                 : 8px;
  height              : 18px;
  width               : 13px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.playersignuppg3 .fieldchkbox .filedselect2 .text .ud300uc744ud328ubc30ub85cubd80ud130ubc97uc5b4ub098uac8cud560uc218uc788ub294 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 39px;
  height              : auto;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 6px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSDGothicNeo-Bold", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(107, 107, 115, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.playersignuppg3 .fieldchkbox .filedselect2 .text .texttitle1 {
  font-family         : "AppleSDGothicNeo-Bold", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : #07172A
  text-align          : left;
  line-height         : 30.0px;
  display: -webkit-inline-box
}
.playersignuppg3 .fieldchkbox .filedselect2 .imgicon4pg3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 50px;
  width               : 50px;
  position            : absolute;
  margin              : 0;
  left                : 52px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.playersignuppg3 .fieldchkbox .filedselect3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 44px;
  height              : 145px;
  width               : 154px;
  position            : absolute;
  margin              : 0;
  left                : 380px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.playersignuppg3 .fieldchkbox .filedselect3 .text {
  background-color    : rgba(255,255,255,0.0);
  top                 : 62px;
  height              : 83px;
  width               : 154px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.playersignuppg3 .fieldchkbox .filedselect3 .text .imgchkbox {
  background-color    : rgba(255,255,255,0.0);
  top                 : 8px;
  height              : 18px;
  width               : 13px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.playersignuppg3 .fieldchkbox .filedselect3 .text .uc7acube60ub978uc6c0uc9c1uc784uc73cub85cud654ub824ud55cuacbduae30ub97cuc774ub04c {
  background-color    : rgba(255,255,255,0.0);
  top                 : 39px;
  height              : auto;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 6px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSDGothicNeo-Bold", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(107, 107, 115, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.playersignuppg3 .fieldchkbox .filedselect3 .text .texttitle1 {
  font-family         : "AppleSDGothicNeo-Bold", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : #07172A
  text-align          : left;
  line-height         : 30.0px;
  display: -webkit-inline-box
}
.playersignuppg3 .fieldchkbox .filedselect3 .imgicon3pg3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 50px;
  width               : 50px;
  position            : absolute;
  margin              : 0;
  left                : 49px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.playersignuppg3 .fieldchkbox .filedselect4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 44px;
  height              : 145px;
  width               : 154px;
  position            : absolute;
  margin              : 0;
  left                : 190px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.playersignuppg3 .fieldchkbox .filedselect4 .text {
  background-color    : rgba(255,255,255,0.0);
  top                 : 62px;
  height              : 83px;
  width               : 154px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.playersignuppg3 .fieldchkbox .filedselect4 .text .imgchkbox {
  background-color    : rgba(255,255,255,0.0);
  top                 : 8px;
  height              : 18px;
  width               : 13px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.playersignuppg3 .fieldchkbox .filedselect4 .text .uae30ud68cub97cub193uce58uc9c0uc54auace0ubb35uc9c1ud55cubcc0ud654ub97cub9cc {
  background-color    : rgba(255,255,255,0.0);
  top                 : 39px;
  height              : auto;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 6px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSDGothicNeo-Bold", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(107, 107, 115, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.playersignuppg3 .fieldchkbox .filedselect4 .text .texttitle1 {
  font-family         : "AppleSDGothicNeo-Bold", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : #07172A
  text-align          : left;
  line-height         : 30.0px;
  display: -webkit-inline-box
}
.playersignuppg3 .fieldchkbox .filedselect4 .imgicon2pg3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 50px;
  width               : 50px;
  position            : absolute;
  margin              : 0;
  left                : 51px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.playersignuppg3 .fieldchkbox .fieldselect {
  background-color    : rgba(255,255,255,0.0);
  top                 : 44px;
  height              : 145px;
  width               : 155px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.playersignuppg3 .fieldchkbox .fieldselect .text {
  background-color    : rgba(255,255,255,0.0);
  top                 : 62px;
  height              : 83px;
  width               : 155px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.playersignuppg3 .fieldchkbox .fieldselect .text .imgchkbox {
  background-color    : rgba(255,255,255,0.0);
  top                 : 8px;
  height              : 18px;
  width               : 13px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.playersignuppg3 .fieldchkbox .fieldselect .text .ubb35ubb35ud788ud640ub85cuadf8ub77cuc6b4ub4dcub97cub204ube44ub294uace0uc694ud55c {
  background-color    : rgba(255,255,255,0.0);
  top                 : 39px;
  height              : auto;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSDGothicNeo-Bold", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(107, 107, 115, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.playersignuppg3 .fieldchkbox .fieldselect .text .texttitle1 {
  font-family         : "AppleSDGothicNeo-Bold", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : #07172A
  text-align          : left;
  line-height         : 30.0px;
  display: -webkit-inline-box
}
.playersignuppg3 .fieldchkbox .fieldselect .imgicon1pg3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 50px;
  width               : 50px;
  position            : absolute;
  margin              : 0;
  left                : 53px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.playersignuppg3 .hsubtitle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 154px;
  height              : 83px;
  width               : 520px;
  position            : absolute;
  margin              : 0;
  left                : 380px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.playersignuppg3 .hsubtitle .hcontent {
  background-color    : rgba(255,255,255,0.0);
  top                 : 51px;
  height              : auto;
  width               : 520px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSDGothicNeo-Medium", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(57, 63, 69, 1.0);
  text-align          : left;
  line-height         : 32.0px;
}
.playersignuppg3 .hsubtitle .htitle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 520px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSDGothicNeo-Medium", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(39, 44, 49, 1.0);
  text-align          : left;
  line-height         : 51.0px;
}
.playersignuppg3 .sidebarinfo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 218px;
  height              : 426px;
  width               : 220px;
  position            : absolute;
  margin              : 0;
  left                : 60px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.playersignuppg3 .sidebarinfo .uc120uc218uc815ubcf4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 98px;
  height              : auto;
  width               : 208px;
  position            : absolute;
  margin              : 0;
  left                : 14px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSDGothicNeo-Medium", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(39, 44, 49, 1.0);
  text-align          : left;
  line-height         : 37.0px;
}
.playersignuppg3 .sidebarinfo .uc5b4ub5a0ud55cuacbduc6b0uc5d0uc788uc5b4uc11cub3c4uacf5ball {
  background-color    : rgba(255,255,255,0.0);
  top                 : 145px;
  height              : auto;
  width               : 199px;
  position            : absolute;
  margin              : 0;
  left                : 14px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSDGothicNeo-Medium", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(115, 123, 132, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.playersignuppg3 .sidebarinfo .sidebarin {
  background-color    : rgba(255,255,255,0.0);
  top                 : 135px;
  height              : 80px;
  width               : 2px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.playersignuppg3 .sidebarinfo .sideiconpg2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 55px;
  width               : 55px;
  position            : absolute;
  margin              : 0;
  left                : 14px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.playersignuppg3 .sideiconpg3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 218px;
  height              : 55px;
  width               : 55px;
  position            : absolute;
  margin              : 0;
  left                : 73px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.playersignuppg3 .num2pg {
  background-color    : rgba(255,255,255,0.0);
  top                 : 138px;
  height              : 32px;
  width               : 133px;
  position            : absolute;
  margin              : 0;
  left                : 73px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.playersignuppg3 .saveamongbtn {
  background-color    : rgba(255,255,255,0.0);
  top                 : 56px;
  height              : 28px;
  width               : 150px;
  position            : absolute;
  margin              : 0;
  left                : 793px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.playersignuppg3 .saveamongbtn .uc911uac04uc800uc7a5ud6c4ub098uac00uae30 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 28px;
  width               : 152px;
  position            : absolute;
  margin              : 0;
  left                : -2px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSDGothicNeo-Medium", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : right;
  line-height         : 28.0px;
}
.playersignuppg3 .logo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 50px;
  height              : 40px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 60px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.playersignuppg3 .logo .logobox {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 40px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
