input[type="button"] {
  background-color: #22C781;
  color: white;
  font-size: 24px;
  margin-top: 24px;
}                       
.playersignuppg5 {
  width               : 100%;
  min-width           : 1024px;
  min-height          : 780px;
  position            : relative;
  overflow            : hidden;
  margin-top              : 80px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
  border-radius: 8px;
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.playersignuppg5 .rightcontentpg1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 780px;
  width               : 540px;
  position            : absolute;
  margin              : 0;
  left                : 484px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.playersignuppg5 .rightcontentpg1 .shadow {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 780px;
  width               : 30px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.6;
}
.playersignuppg5 .rightcontentpg1 .gradientbg {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 780px;
  width               : 510px;
  position            : absolute;
  margin              : 0;
  left                : 30px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
button#load {
  width: 100%;
  height: 100%;
}
.playersignuppg5 .beginbtn {
  top                 : 578px;
  border-radius: 4px;
  height              : 88px;
  width               : 378px;
  position            : absolute;
  left                : 76px;
  -ms-transform 
}
.playersignuppg5 .beginbtn .btnstartweb {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 88px;
  width               : 378px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.playersignuppg5 .beginbtn .btnstart {
  background-color    : rgba(255,255,255,0.0);
  top                 : 29px;
  height              : auto;
  width               : 345px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSDGothicNeo-Medium", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 29.0px;
}
.playersignuppg5 .hsubtitle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 138px;
  height              : 306px;
  width               : 385px;
  position            : absolute;
  margin              : 0;
  left                : 80px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.playersignuppg5 .hsubtitle .hcontent {
  background-color    : rgba(255,255,255,0.0);
  top                 : 88px;
  height              : auto;
  width               : 385px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSDGothicNeo-Medium", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(57, 63, 69, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.playersignuppg5 .hsubtitle .hcontent .span1 {
  line-height         : 32.0px;
}
.playersignuppg5 .hsubtitle .hcontent .span2 {
  font-size           : 18.0px;
  line-height         : 32.0px;
}
.playersignuppg5 .hsubtitle .hcontent1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 256px;
  height              : auto;
  width               : 387px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSDGothicNeo-Medium", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(57, 63, 69, 1.0);
  text-align          : left;
  line-height         : 32.0px;
}
.playersignuppg5 .hsubtitle .htitle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 385px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSDGothicNeo-Medium", Helvetica, Arial, serif;
  font-size           : 38.0px;
  color               : rgba(39, 44, 49, 1.0);
  text-align          : left;
  line-height         : 50.0px;
}
.playersignuppg5 .imgtree {
  background-color    : rgba(255,255,255,0.0);
  top                 : 50px;
  height              : 343px;
  width               : 179px;
  position            : absolute;
  margin              : 0;
  left                : 602px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.playersignuppg5 .imgballboy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 118px;
  height              : 645px;
  width               : 257px;
  position            : absolute;
  margin              : 0;
  left                : 704px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.playersignuppg5 .logo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 50px;
  height              : 40px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 60px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.playersignuppg5 .logo .logobox {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 40px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}