
.playerupdatepicture {
  display: flex;
  flex-flow: row nowrap;
  /* flex-direction: row; */
  justify-content: space-between;
  /* width               : 100%; */
  /* min-width           : 1440px; */
  /* min-height          : 800px; */
  position            : relative;
  /* overflow            : hidden; */
  /* margin              : 0px; */
  /* -webkit-font-smoothing: antialiased; */
  -moz-osx-font-smoothing: grayscale;
  /* background-color    : rgba(255, 255, 255, 1.0); */
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.playerupdatepicture .imgpath {
  background-color    : rgba(255,255,255,0.0);
  top                 : 581px;
  height              : 2px;
  width               : 237px;
  position            : absolute;
  margin              : 0;
  left                : 602px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  /* display: flex; */
}
.playerupdatepicture .imgsignupbtnbg {
  background-color: #22C781;
  top: 620px;
  border-radius: 4px;
  height              : 59px;
  color: white;
  width               : 508px;
  position            : absolute;
  /* margin              : 0; */
  left                : 463px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.playerupdatepicture .texttitlepg1 {
  /* background-color    : rgba(255,255,255,0.0); */
  top                 : 693px;
  /* height              : auto; */
  width               : 133px;
  position            : absolute;
  /* margin              : 0; */
  left                : 654px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSDGothicNeo-Bold", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  /* line-height         : 19.0px; */
}
.playerupdatepicture .divexit {
  /* background-color    : rgba(255,255,255,0.0); */
  top                 : 51px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1170px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(115, 123, 132, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.playerupdatepicture .formupdate {
  /* display: flex; */
  /* flex-direction: column; */
  /* background-color    : rgba(255,255,255,0.0); */
  top                 : 168px;
  height: 428px;
  width: 480px;
  position            : absolute;
  /* margin              : 0; */
  left: 480px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.playerupdatepicture .formupdate .fieldupdatepicture {
  background-color    : rgba(255,255,255,0.0);
  /* top                 : 0px; */
  height: 100%;
  width: 100%;
  position            : relative;
  /* margin              : 0; */
  /* left                : 0px; */
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.playerupdatepicture .formupdate .fieldupdatepicture .fieldbtn {
  /* background-color    : rgba(255,255,255,0.0); */
  top                 : 413px;
  height: 50px;
  width               : 311px;
  position            : absolute;
  border-radius: 4px;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.playerupdatepicture .formupdate .fieldupdatepicture .fieldbtn .imguploadbtnbg {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 60px;
  width               : 236px;
  position            : absolute;
  margin              : 0;
  left                : 37px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.playerupdatepicture .formupdate .fieldupdatepicture .fieldbtn .btnuploadfile {
  background-color    : rgba(255,255,255,0.0);
  top                 : 18px;
  height              : auto;
  width               : 310px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSDGothicNeo-Medium", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(114, 145, 158, 1.0);
  text-align          : center;
  line-height         : 17.0px;
}
.playerupdatepicture .formupdate .fieldupdatepicture .textcontentpg1 {
  /* background-color    : rgba(255,255,255,0.0); */
  top                 : 380px;
  height              : auto;
  width: 100%;
  position            : absolute;
  /* margin              : 0; */
  /* text-align: center; */
  /* justify-content: center; */
  left: 20px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSDGothicNeo-Thin", Helvetica, Arial, serif;
  font-size           : 10.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 35.0px;
}
.playerupdatepicture .formupdate .fieldupdatepicture .textcontentpg11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 232px;
  position            : absolute;
  margin              : 0;
  left                : 41px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSDGothicNeo-Thin", Helvetica, Arial, serif;
  font-size           : 10.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 15.0px;
}
.playerupdatepicture .fieldnickname {
  top: 169px;
  height: 517px;
  width: 191px;
  position: absolute;
  margin: 0;
  left: 150px;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
.playerupdatepicture .fieldnickname .imgpath1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 495px;
  height              : 22px;
  width               : 178px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.playerupdatepicture .fieldnickname .textcontentpg1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 19px;
  height              : auto;
  width               : 183px;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSDGothicNeo-Thin", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(72, 80, 87, 1.0);
  text-align          : left;
  line-height         : 35.0px;
}
.playerupdatepicture .fieldnickname .textcontentpg11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 54px;
  height              : auto;
  width               : 183px;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSDGothicNeo-SemiBold", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(72, 80, 87, 1.0);
  text-align          : left;
  line-height         : 35.0px;
}
.playerupdatepicture .fieldnickname .texttitlepg11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 99px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSDGothicNeo-Bold", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.playerupdatepicture .rightcontent {
  background-color: rgba(255,255,255,0.0);
  top: 0px;
  height: 800px;
  width: 448px;
  position: absolute;
  margin: 0;
  left: 992px;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
.playerupdatepicture .rightcontent .shadow {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 800px;
  width               : 30px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.6;
}
.playerupdatepicture .rightcontent .gradientbg {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 800px;
  width               : 418px;
  position            : absolute;
  margin              : 0;
  left                : 30px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.playerupdatepicture .hsubtitlepg1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 73px;
  height              : 51px;
  width               : 501px;
  position            : absolute;
  margin              : 0;
  left                : 469px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.playerupdatepicture .hsubtitlepg1 .texthtitle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 501px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSDGothicNeo-Medium", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(39, 44, 49, 1.0);
  text-align          : center;
  line-height         : 51.0px;
}