<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suports.web.mapper.AlramMapper">

	<select id="selectReservation" resultType="String">
		SELECT MESSAGE FROM ALRAM WHERE ALRAM_INDEX = 2;
	</select>
	
	<select id="selectPayment" resultType="String">
		SELECT MESSAGE FROM ALRAM WHERE ALRAM_INDEX = 1;
	</select>
	
</mapper>