<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suports.web.mapper.AlramMapper">
<resultMap id="result" type="hashmap">
		<id property="alramIndex" column="ALRAM_INDEX" />
		<result property="message" column="MESSAGE" />
		<result property="alramDate" column="ALRAM_DATE" />
		<result property="memberIndex" column="MEMBER_INDEX" />
</resultMap>

	<select id="insertReservation" resultType="com.suports.web.domain.AlramDTO" parameterType="com.suports.web.Proxy">
		INSERT INTO ALRAM(MESSAGE,MEMBER_INDEX)
		VALUES('${name} 결제 예약 되었습니다.',#{mIndex})
	</select>
	
	<select id="insertPayment" resultType="String" parameterType="com.suports.web.Proxy">
		INSERT INTO ALRAM(MESSAGE,MEMBER_INDEX)
		VALUES('${name} 예약이 확정 되었습니다.',#{mIndex})
	</select>
	
	<select id="seletMemberAlram" parameterType="int" resultMap="result">
		SELECT * FROM ALRAM WHERE MEMBER_INDEX = #{value};
	</select>
</mapper>