<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.suports.web.mapper.GameMapper">

	<resultMap id="result" type="hashmap">
		<id property="gameIndex" column="GAME_INDEX" />
		<result property="position" column="POSITION_NAME" />
		<result property="date" column="GAME_DATE" />
		<result property="timeIndex" column="TIME_INDEX" />
		<result property="memberIndex" column="MEMBER_INDEX" />
		<result property="photo" column="PHOTO" />
	</resultMap>

	<select id="selectGame" parameterType="int" resultMap="result">
		SELECT
		GAME_INDEX,POSITION_NAME,TIME_INDEX,M.PHOTO,G.MEMBER_INDEX
		FROM GAME G
		LEFT JOIN MEMBER M
		ON G.MEMBER_INDEX LIKE M.MEMBER_INDEX
		WHERE
		G.TIME_INDEX LIKE #{stadiumIndex}
		ORDER BY G.GAME_INDEX;
	</select>

	<select id="selectGameIndex"
		parameterType="com.suports.web.domain.GameDTO" resultType="int">
		SELECT
		GAME_INDEX
		FROM GAME
		WHERE TIME_INDEX = #{timeIndex} AND POSITION_NAME =
		'${positionName}';
	</select>

	<select id="updateMember" parameterType="com.suports.web.cmm.Proxy">
		UPDATE GAME
		SET
		MEMBER_INDEX = ${mIndex}
		WHERE GAME_INDEX = ${gmNumber};
	</select>

	<select id="selectOverlap"
		parameterType="com.suports.web.domain.GameDTO" resultMap="result">
		SELECT
		IFNULL(MEMBER_INDEX,0) AS memberIndex FROM GAME where TIME_INDEX =
		#{timeIndex};
	</select>

	<select id="countMember" parameterType="int" resultType="int">
		SELECT count(MEMBER_INDEX) FROM GAME where time_index = #{value};
	</select>

	<select id="selectGameMember" parameterType="int"
		resultMap="result">
		SELECT MEMBER_INDEX FROM GAME where time_index =
		#{value};
	</select>
</mapper>