<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.suports.web.mapper.ChatBotMapper">
<select id="Chatbot" resultType="com.suports.web.domain.ChatBotDTO" parameterType="com.suports.web.domain.ChatBotDTO">
		SELECT S2.*
		FROM (SELECT @ROWNUM:=@ROWNUM+1 AS RNUM, C.*
		FROM (SELECT * FROM CHATBOT ORDER BY MSG DESC) C, (SELECT
		@ROWNUM:=0)TMP
		WHERE C.MSG LIKE '%{msg}%') S2;
	</select>


</mapper>