<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.suports.web.mapper.TeamMapper">

<resultMap id="selectresult" type="hashmap">
  <id property="index" column="TEAM_INDEX"/>
  <result property="name" column="TEAM_NAME"/>
  <result property="emblem" column="TEAM_EMBLEM"/>
  <result property="captain" column="TEAM_CAPTIN"/>
  <result property="sport" column="TEAM_SPORT"/>
  <result property="sort" column="TEAM_SORT"/>
  <result property="address" column="TEAM_ADDR"/>
  <result property="info" column="TEAM_INFO"/>
  <result property="avgage" column="TEAM_AGE"/>
  <result property="style" column="TEAM_STYLE"/>
  <result property="tournamentIndex" column="TOURNAMENT_INDEX"/>
  <result property="totalcount" column="TOTALCOUNT"/>
  <result property="rnum" column="RNUM"/>
</resultMap>

	<select id="selectATeam" 
	resultType="com.suports.web.domain.TeamDTO">
		SELECT
		MEMBER_INDEX memberIndex,
		TEAM_INDEX index,
		TEAM_NAME name,
		TEAM_EMBLEM emblem,
		TEAM_CAPTIN captain,
		TEAM_SPORT sport,
		TEAM_SORT sort,
		TEAM_ADDR address,
		TEAM_INFO info,
		TEAM_AGE avgage,
		TEAM_STYLE style,
		TOURNAMENT_INDEX tournamentIndex
		FROM TEAM
		WHERE TEAM_NAME LIKE #{name}
	</select>
	<insert id="insertATeam"
		parameterType="com.suports.web.domain.TeamDTO" flushCache="true"
		statementType="PREPARED">
		INSERT INTO TEAM (
		TEAM_NAME,
		TEAM_EMBLEM,
		TEAM_CAPTIN,
		TEAM_SPORT,
		TEAM_SORT,
		TEAM_ADDR,
		TEAM_INFO,
		TEAM_AGE,
		TEAM_STYLE
		)
		VALUES (
		#{name},
		#{emblem},
		#{captain},
		#{sport},
		#{sort},
		#{address},
		#{info},
		#{avgage},
		#{style}
		)
	</insert>
	<update id="updateATeam"
		parameterType="com.suports.web.domain.TeamDTO" flushCache="true"
		statementType="PREPARED" timeout="20">
		UPDATE TEAM SET
		TEAM_NAME = #{name},
		TEAM_AGE = #{avgage},
		TEAM_SORT = #{sort},
		TEAM_STYLE = #{style},
		TEAM_SPORT = #{sport},
		TEAM_ADDR = #{address},
		TEAM_EMBLEM = #{emblem},
		TEAM_INFO = #{info}
		WHERE TEAM_CAPTIN 
		LIKE #{captain}
	</update>
	
	
	<select id="selectListOfTeams"
	parameterType="com.suports.web.cmm.Proxy"
	resultMap="selectresult">
	SELECT T2.*
	FROM (SELECT  @ROWNUM:=@ROWNUM+1 AS RNUM, T.*
			FROM (SELECT * FROM TEAM ORDER BY TEAM_INDEX DESC) T, (SELECT @ROWNUM:=0)TMP) T2 
	WHERE T2.RNUM BETWEEN #{startRow} AND #{endRow};
	</select>
	
	<select id="countTeams" resultType="int">
	SELECT COUNT(*) FROM TEAM;
	</select>
	
	<!-- 토너먼트 주장만 신청 -->
	<select id="selectTeam" parameterType="com.suports.web.domain.MemberDTO" resultType="com.suports.web.domain.TeamDTO">
	SELECT 
		TEAM_INDEX teamIndex,
		TEAM_NAME name,
		TEAM_EMBLEM emblem,
		TEAM_CAPTIN captain,
		TEAM_SPORT sport,
		TEAM_SORT sort,
		TEAM_ADDR address,
		TEAM_INFO info,
		TEAM_AGE avgage,
		TEAM_STYLE style
		FROM TEAM WHERE TEAM_CAPTIN LIKE #{memberIndex};
	</select>
	
</mapper>