<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.suports.web.mapper.MemberMapper">

<resultMap id="selectresult" type="hashmap">
  <id property="memberIndex" column="MEMBER_INDEX"/>
  <result property="id" column="ID"/>
  <result property="password" column="PASSWORD"/>
  <result property="email" column="EMAIL"/>
  <result property="name" column="NAME"/>  
  <result property="birthdy" column="BIRTHDY"/>
  <result property="position" column="POSITION"/>
  <result property="sports" column="SPORTS"/>
  <result property="address" column="ADDR"/>
  <result property="phone" column="PHONE"/>
  <result property="photo" column="PHOTO"/>
  <result property="totalcount" column="TOTALCOUNT"/>
  <result property="rnum" column="RNUM"/>
</resultMap>
	<select id="selectAMember" resultType="com.suports.web.domain.MemberDTO">
		SELECT
		MEMBER_INDEX memberIndex,
		ID id,
		PASSWORD password,
		EMAIL email,
		NAME name,
		BIRTHDY birthday,
		POSITION position,
		SPORTS sports,
		ADDR address,
		PHONE phone,
		PHOTO photo
		FROM MEMBER
		WHERE ID LIKE #{id}
		<if test="password != null">
			AND PASSWORD LIKE #{password}
		</if>
	</select>

</mapper>