<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.suports.web.mapper.MemberMapper">
<resultMap id="selectresult" type="hashmap">
  <id property="memberIndex" column="MEMBER_INDEX"/>
  <result property="id" column="ID"/>
  <result property="password" column="PASSWORD"/>
  <result property="email" column="EMAIL"/>
  <result property="name" column="NAME"/>  
  <result property="birth" column="BIRTHDY"/>
  <result property="position" column="POSITION"/>
  <result property="characters" column="CHARACTERS"/>
  <result property="sports" column="SPORTS"/>
  <result property="address" column="ADDR"/>
  <result property="phone" column="PHONE"/>
  <result property="info" column="INFO"/>
  <result property="photo" column="PHOTO"/>
  <result property="totalcount" column="TOTALCOUNT"/>
  <result property="rnum" column="RNUM"/>
  <result property="team" column="TEAM_INDEX"/>
  
</resultMap>
	<select id="selectAMember" 
	resultType="com.suports.web.domain.MemberDTO">
		SELECT
		MEMBER_INDEX memberIndex,
		ID id,
		PASSWORD password,
		EMAIL email,
		NAME name,
		BIRTHDY birth,
		POSITION position,
		CHARACTERS characters,
		SPORTS sports,
		ADDR address,
		PHONE phone,
		INFO info,
		PHOTO photo,
		TEAM_INDEX teamIndex
		FROM MEMBER 
		WHERE ID LIKE #{id}
		<if test="password != null">
			AND PASSWORD LIKE #{password}
		</if>
	</select>
	<insert id="insertAMember"
		parameterType="com.suports.web.domain.MemberDTO" flushCache="true"
		statementType="PREPARED">
		INSERT INTO MEMBER (
		ID,
		PASSWORD,
		EMAIL,
		NAME,
		BIRTHDY,
		POSITION,
		CHARACTERS,
		SPORTS,
		ADDR,
		PHONE,
		INFO,
		PHOTO
		)
		VALUES (
		#{id},
		#{password},
		#{email},
		#{name},
		#{birth},
		#{position},
		#{characters},
		#{sports},
		#{address},
		#{phone},
		#{info},
		#{photo}
		)
	</insert>
	<update id="updateAMember"
		parameterType="com.suports.web.domain.MemberDTO" flushCache="true"
		statementType="PREPARED" timeout="20">
		UPDATE MEMBER SET
		NAME = #{name},
		PASSWORD = #{password]},
		BIRTHDY = #{birth},
		CHARACTERS = #{characters},
		INFO = #{info}
		WHERE ID LIKE
		LIKE #{id}
	</update>
</mapper>