
.teamcreatepg1 {
  width               : 100%;
  min-width           : 1100px;
  min-height          : 680px;
  position            : relative;
  overflow            : hidden;
  margin-top              : 40px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}

.carousel-inner img {
    width: 50%;
    height: 50%;
    margin-top: 50px;
}
.teamupdateemblem div#emblemCarousel {
    height: 400px;
    width: 620px;
}
.teamcreatepg3 div#emblemCarousel {
    height: 400px;
    width: 620px;
}
.teamcreatepg2 textarea#teamInfo {
    height: 80px;
}

.create_team_title {
  top                 : 45px;
  height              : 50px;
  width: 480px;
  position            : absolute;
  left: 380px;
  -ms-transform       : rotate(0deg); /* IE 9 */
}

.create_team_title_css {
  /* width               : 500px; */
  position            : absolute;
  -ms-transform       : rotate(0deg); /* IE 9 */
  font-family         : "AppleSDGothicNeo-Medium", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(39, 44, 49, 1.0);
  text-align          : left;
  line-height         : 50.0px;
}
.create_team_middle_form {
  top: 128px;
  height: 420px;
  width: 480px;
  position            : absolute;
  left: 380px;
  -ms-transform       : rotate(0deg); /* IE 9 */
}
.team_create_titles {
  font-size: 18px;
  font-weight: 500;
  color: #212528;
  text-align: left;
  margin-left: 10px;
  margin-bottom: 4px;
}
.team_create_subforms {
  margin-bottom: 6px;
}
.team_create_subforms_multi {
  margin-bottom: 6px;
  width: 100%;
  display: -webkit-box;
}
.team_create_titles_multi {
  font-size: 18px;
  font-weight: 500;
  color: #212528;
  text-align: left;
  margin-left: 10px;
  margin-bottom: 2px;
  display: block;
}


.team_create_multiforms {
    width: 30%;
}

.team_create_multiforms_ank {
    width: 30%;
    margin-left: 5%;
    margin-right: 5%;
}
.teamcreatepg1 .imgrightcontentteam {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 680px;
  width               : 479px;
  position            : absolute;
  margin              : 0;
  left                : 621px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.teamcreatepg1 .fieldbtn {
  color: white;
  top                 : 566px;
  height              : 68px;
  width               : 378px;
  position            : absolute;
  border-radius: 4px;
  background-color: #00C5FF;
  left                : 151px;
  -ms-transform       : rotate(0deg); /* IE 9 */
}
.teamcreatepg1 .hsubtitlepg1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 128px;
  height              : 374px;
  width               : 385px;
  position            : absolute;
  margin              : 0;
  left                : 147px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.teamcreatepg1 .hsubtitlepg1 .texthcontent {
  background-color    : rgba(255,255,255,0.0);
  top                 : 61px;
  height              : auto;
  width               : 385px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSDGothicNeo-Medium", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(57, 63, 69, 1.0);
  text-align          : center;
  line-height         : 32.0px;
}
.teamcreatepg1 .hsubtitlepg1 .imgballs {
  background-color    : rgba(255,255,255,0.0);
  top                 : 279px;
  height              : 95px;
  width               : 309px;
  position            : absolute;
  margin              : 0;
  left                : 39px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.teamcreatepg1 .hsubtitlepg1 .texthtitle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 350px;
  position            : absolute;
  margin              : 0;
  left                : 18px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSDGothicNeo-Medium", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(39, 44, 49, 1.0);
  text-align          : center;
  line-height         : 51.0px;
}
.teamcreatepg1 .logo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 50px;
  height              : 40px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 60px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.teamcreatepg1 .logo .logobox {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 40px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.teamcreatepg1 .ue88d {
  background-color    : rgba(255,255,255,0.0);
  top                 : 59px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 585px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "material", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(115, 123, 132, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}