
                        
.teammanageplayers {
  width               : 100%;
  min-width           : 1440px;
  height              : 100%;
  min-height          : 800px;
  position            : relative;
  overflow            : hidden;
  margin-top              : 80px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.teammanageplayers .texttitlepg1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 693px;
  height              : auto;
  width               : 133px;
  position            : absolute;
  margin              : 0;
  left                : 654px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSDGothicNeo-Bold", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 19.0px;
}
.teammanageplayers .divexit {
  background-color    : rgba(255,255,255,0.0);
  top                 : 51px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1170px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(115, 123, 132, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.teammanageplayers .group3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 169px;
  height              : 334px;
  width               : 191px;
  position            : absolute;
  margin              : 0;
  left                : 243px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.teammanageplayers .group3 .group2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 140px;
  height              : 194px;
  width               : 191px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.teammanageplayers .group3 .group2 .textcontentpg1copy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 124px;
  height              : auto;
  width               : 185px;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSDGothicNeo-Thin", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(72, 80, 87, 1.0);
  text-align          : left;
  line-height         : 35.0px;
}
.teammanageplayers .group3 .group2 .textcontentpg1copy3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 159px;
  height              : auto;
  width               : 185px;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSDGothicNeo-Thin", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(72, 80, 87, 1.0);
  text-align          : left;
  line-height         : 35.0px;
}
.teammanageplayers .group3 .group2 .textcontentpg1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 19px;
  height              : auto;
  width               : 183px;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSDGothicNeo-Thin", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(72, 80, 87, 1.0);
  text-align          : left;
  line-height         : 35.0px;
}
.teammanageplayers .group3 .group2 .textcontentpg11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 54px;
  height              : auto;
  width               : 183px;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSDGothicNeo-Thin", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(72, 80, 87, 1.0);
  text-align          : left;
  line-height         : 35.0px;
}
.teammanageplayers .group3 .group2 .textcontentpg12 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 89px;
  height              : auto;
  width               : 183px;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSDGothicNeo-Thin", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(72, 80, 87, 1.0);
  text-align          : left;
  line-height         : 35.0px;
}
.teammanageplayers .group3 .group2 .texttitlepg11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 99px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSDGothicNeo-Bold", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.teammanageplayers .group3 .group21 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 124px;
  width               : 191px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.teammanageplayers .group3 .group21 .textcontentpg1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 89px;
  height              : auto;
  width               : 185px;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSDGothicNeo-Thin", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(72, 80, 87, 1.0);
  text-align          : left;
  line-height         : 35.0px;
}
.teammanageplayers .group3 .group21 .textcontentpg11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 19px;
  height              : auto;
  width               : 183px;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSDGothicNeo-SemiBold", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(72, 80, 87, 1.0);
  text-align          : left;
  line-height         : 35.0px;
}
.teammanageplayers .group3 .group21 .textcontentpg12 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 54px;
  height              : auto;
  width               : 183px;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSDGothicNeo-Thin", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(72, 80, 87, 1.0);
  text-align          : left;
  line-height         : 35.0px;
}
.teammanageplayers .group3 .group21 .texttitlepg11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 99px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSDGothicNeo-Bold", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.teammanageplayers .rightcontent {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 800px;
  width               : 448px;
  position            : absolute;
  margin              : 0;
  left                : 992px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.teammanageplayers .rightcontent .shadow {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 800px;
  width               : 30px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.6;
}
.teammanageplayers .rightcontent .gradientbg {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 800px;
  width               : 418px;
  position            : absolute;
  margin              : 0;
  left                : 30px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.teammanageplayers .hsubtitlepg1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 73px;
  height              : 51px;
  width               : 501px;
  position            : absolute;
  margin              : 0;
  left                : 469px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.teammanageplayers .hsubtitlepg1 .texthtitle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 501px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSDGothicNeo-Medium", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(39, 44, 49, 1.0);
  text-align          : center;
  line-height         : 51.0px;
}
.teammanageplayers .listteammember {
  background-color    : rgba(255,255,255,0.0);
  top                 : 164px;
  height              : 519px;
  width               : 727px;
  position            : absolute;
  margin              : 0;
  left                : 466px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.teammanageplayers .listteammember .imgbgteamlist {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 519px;
  width               : 727px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.teammanageplayers .listteammember .imgsideiconpg2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 127px;
  height              : 34px;
  width               : 35px;
  position            : absolute;
  margin              : 0;
  left                : 50px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.teammanageplayers .listteammember .imgsideiconpg21 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 175px;
  height              : 35px;
  width               : 35px;
  position            : absolute;
  margin              : 0;
  left                : 50px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.teammanageplayers .listteammember .imgsideiconpg22 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 225px;
  height              : 35px;
  width               : 35px;
  position            : absolute;
  margin              : 0;
  left                : 50px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.teammanageplayers .listteammember .imgsideiconpg23 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 274px;
  height              : 35px;
  width               : 35px;
  position            : absolute;
  margin              : 0;
  left                : 50px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.teammanageplayers .listteammember .imgsideiconpg24 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 324px;
  height              : 34px;
  width               : 35px;
  position            : absolute;
  margin              : 0;
  left                : 50px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.teammanageplayers .listteammember .imgsideiconpg25 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 372px;
  height              : 35px;
  width               : 35px;
  position            : absolute;
  margin              : 0;
  left                : 50px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.teammanageplayers .listteammember .imgsideiconpg26 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 77px;
  height              : 35px;
  width               : 35px;
  position            : absolute;
  margin              : 0;
  left                : 50px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.teammanageplayers .listteammember .imgpath {
  background-color    : rgba(255,255,255,0.0);
  top                 : 70px;
  height              : 1px;
  width               : 660px;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.teammanageplayers .listteammember .imgpath1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 119px;
  height              : 1px;
  width               : 660px;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.teammanageplayers .listteammember .imgpath2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 168px;
  height              : 1px;
  width               : 660px;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.teammanageplayers .listteammember .imgpath3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 217px;
  height              : 1px;
  width               : 660px;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.teammanageplayers .listteammember .imgpath4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 266px;
  height              : 1px;
  width               : 660px;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.teammanageplayers .listteammember .imgpath5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 315px;
  height              : 1px;
  width               : 660px;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.teammanageplayers .listteammember .imgpath6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 364px;
  height              : 1px;
  width               : 660px;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.teammanageplayers .listteammember .divrow {
  background-color    : rgba(255,255,255,0.0);
  top                 : 77px;
  height              : 35px;
  width               : 561px;
  position            : absolute;
  margin              : 0;
  left                : 105px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.teammanageplayers .listteammember .divrow .textcontentpg1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 120px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSDGothicNeo-Light", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(72, 80, 87, 1.0);
  text-align          : center;
  line-height         : 35.0px;
}
.teammanageplayers .listteammember .divrow .textcontentpg11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 120px;
  position            : absolute;
  margin              : 0;
  left                : 130px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSDGothicNeo-Light", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(72, 80, 87, 1.0);
  text-align          : center;
  line-height         : 35.0px;
}
.teammanageplayers .listteammember .divrow .textcontentpg12 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 120px;
  position            : absolute;
  margin              : 0;
  left                : 260px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSDGothicNeo-Light", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(72, 80, 87, 1.0);
  text-align          : center;
  line-height         : 35.0px;
}
.teammanageplayers .listteammember .divrow .textcontentpg13 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 120px;
  position            : absolute;
  margin              : 0;
  left                : 390px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSDGothicNeo-Light", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(72, 80, 87, 1.0);
  text-align          : center;
  line-height         : 35.0px;
}
.teammanageplayers .listteammember .divrow .imgchkboxon {
  background-color    : rgba(255,255,255,0.0);
  top                 : 11px;
  height              : 14px;
  width               : 14px;
  position            : absolute;
  margin              : 0;
  left                : 547px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.teammanageplayers .listteammember .divrow1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 126px;
  height              : 35px;
  width               : 561px;
  position            : absolute;
  margin              : 0;
  left                : 105px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.teammanageplayers .listteammember .divrow1 .textcontentpg1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 120px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSDGothicNeo-Light", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(72, 80, 87, 1.0);
  text-align          : center;
  line-height         : 35.0px;
}
.teammanageplayers .listteammember .divrow1 .textcontentpg11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 120px;
  position            : absolute;
  margin              : 0;
  left                : 130px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSDGothicNeo-Light", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(72, 80, 87, 1.0);
  text-align          : center;
  line-height         : 35.0px;
}
.teammanageplayers .listteammember .divrow1 .textcontentpg12 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 120px;
  position            : absolute;
  margin              : 0;
  left                : 260px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSDGothicNeo-Light", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(72, 80, 87, 1.0);
  text-align          : center;
  line-height         : 35.0px;
}
.teammanageplayers .listteammember .divrow1 .textcontentpg13 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 120px;
  position            : absolute;
  margin              : 0;
  left                : 390px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSDGothicNeo-Light", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(72, 80, 87, 1.0);
  text-align          : center;
  line-height         : 35.0px;
}
.teammanageplayers .listteammember .divrow1 .imgchkboxoff1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : 15px;
  width               : 14px;
  position            : absolute;
  margin              : 0;
  left                : 547px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.teammanageplayers .listteammember .divrow2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 175px;
  height              : 35px;
  width               : 561px;
  position            : absolute;
  margin              : 0;
  left                : 105px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.teammanageplayers .listteammember .divrow2 .textcontentpg1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 120px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSDGothicNeo-Light", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(72, 80, 87, 1.0);
  text-align          : center;
  line-height         : 35.0px;
}
.teammanageplayers .listteammember .divrow2 .textcontentpg11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 120px;
  position            : absolute;
  margin              : 0;
  left                : 130px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSDGothicNeo-Light", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(72, 80, 87, 1.0);
  text-align          : center;
  line-height         : 35.0px;
}
.teammanageplayers .listteammember .divrow2 .textcontentpg12 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 120px;
  position            : absolute;
  margin              : 0;
  left                : 260px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSDGothicNeo-Light", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(72, 80, 87, 1.0);
  text-align          : center;
  line-height         : 35.0px;
}
.teammanageplayers .listteammember .divrow2 .textcontentpg13 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 120px;
  position            : absolute;
  margin              : 0;
  left                : 390px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSDGothicNeo-Light", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(72, 80, 87, 1.0);
  text-align          : center;
  line-height         : 35.0px;
}
.teammanageplayers .listteammember .divrow2 .imgchkboxoff1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : 15px;
  width               : 14px;
  position            : absolute;
  margin              : 0;
  left                : 547px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.teammanageplayers .listteammember .divrow3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 225px;
  height              : 35px;
  width               : 510px;
  position            : absolute;
  margin              : 0;
  left                : 105px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.teammanageplayers .listteammember .divrow3 .textcontentpg1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 120px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSDGothicNeo-Light", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(72, 80, 87, 1.0);
  text-align          : center;
  line-height         : 35.0px;
}
.teammanageplayers .listteammember .divrow3 .textcontentpg11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 120px;
  position            : absolute;
  margin              : 0;
  left                : 130px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSDGothicNeo-Light", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(72, 80, 87, 1.0);
  text-align          : center;
  line-height         : 35.0px;
}
.teammanageplayers .listteammember .divrow3 .textcontentpg12 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 120px;
  position            : absolute;
  margin              : 0;
  left                : 260px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSDGothicNeo-Light", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(72, 80, 87, 1.0);
  text-align          : center;
  line-height         : 35.0px;
}
.teammanageplayers .listteammember .divrow3 .textcontentpg13 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 120px;
  position            : absolute;
  margin              : 0;
  left                : 390px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSDGothicNeo-Light", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(72, 80, 87, 1.0);
  text-align          : center;
  line-height         : 35.0px;
}
.teammanageplayers .listteammember .imgchkboxoff {
  background-color    : rgba(255,255,255,0.0);
  top                 : 235px;
  height              : 15px;
  width               : 14px;
  position            : absolute;
  margin              : 0;
  left                : 652px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.teammanageplayers .listteammember .divrowtitle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 28px;
  height              : 35px;
  width               : 510px;
  position            : absolute;
  margin              : 0;
  left                : 105px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.teammanageplayers .listteammember .divrowtitle .textcontentpg1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 120px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSDGothicNeo-SemiBold", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(72, 80, 87, 1.0);
  text-align          : center;
  line-height         : 35.0px;
}
.teammanageplayers .listteammember .divrowtitle .textcontentpg11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 120px;
  position            : absolute;
  margin              : 0;
  left                : 130px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSDGothicNeo-SemiBold", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(72, 80, 87, 1.0);
  text-align          : center;
  line-height         : 35.0px;
}
.teammanageplayers .listteammember .divrowtitle .textcontentpg12 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 120px;
  position            : absolute;
  margin              : 0;
  left                : 260px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSDGothicNeo-SemiBold", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(72, 80, 87, 1.0);
  text-align          : center;
  line-height         : 35.0px;
}
.teammanageplayers .listteammember .divrowtitle .textcontentpg13 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 120px;
  position            : absolute;
  margin              : 0;
  left                : 390px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSDGothicNeo-SemiBold", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(72, 80, 87, 1.0);
  text-align          : center;
  line-height         : 35.0px;
}
.teammanageplayers .listteammember .btndetail {
  background-color    : rgba(255,255,255,0.0);
  top                 : 29px;
  height              : 40px;
  width               : 56px;
  position            : absolute;
  margin              : 0;
  left                : 631px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.teammanageplayers .listteammember .imgbtndetail {
  background-color    : rgba(255,255,255,0.0);
  top                 : 39px;
  height              : 15px;
  width               : 17px;
  position            : absolute;
  margin              : 0;
  left                : 650px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
