<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suports.web.mapper.StadiumMapper">

	<resultMap id="result" type="hashmap">
		<id property="stadiumIndex" column="STADIUM_INDEX" />
		<result property="stadiumName" column="STADIUM_NAME" />
		<result property="sportsIndex" column="SPORTS_INDEX" />
		<result property="areaIndex" column="AREA_INDEX" />
		<result property="stadiumPhoto" column="STADIUM_PHOTO" />
		<result property="stadiumInfo" column="STADIUM_INFO" />
		<result property="stadiumAddr" column="STADIUM_ADDR" />
		<result property="latitude" column="LATITUDE" />
		<result property="hardness" column="HARDNESS" />
		<result property="areaName" column="AREA_NAME" />
		<result property="timeIndex" column="TIME_INDEX" />
		<result property="time" column="TIME" />
		<result property="price" column="TIME_PRICE" />
		<result property="date" column="DATE" />
		<result property="people" column="PEOPLE" />


	</resultMap>

	<select id="allStadium"
		parameterType="com.suports.web.cmm.Proxy" resultMap="result">
		SELECT S3.*
		FROM
		(SELECT @ROWNUM:=@ROWNUM+1 AS RNUM,S2.*
		FROM (SELECT
		S1.*,COUNT(G.MEMBER_INDEX) AS PEOPLE
		FROM (SELECT
		TIME_INDEX,TIME,TIME_PRICE,T.STADIUM_INDEX,S.STADIUM_NAME,S.STADIUM_PHOTO,S.STADIUM_ADDR,S.LATITUDE,S.HARDNESS,D.DATE
		FROM DATE D,TIME T LEFT JOIN STADIUM S
		ON T.STADIUM_INDEX LIKE
		S.STADIUM_INDEX) S1, GAME G
		WHERE G.TIME_INDEX LIKE S1.TIME_INDEX
		GROUP
		BY S1.TIME_INDEX
		ORDER BY S1.TIME,S1.STADIUM_INDEX) S2, (SELECT
		@ROWNUM:=0) TMP) S3
		WHERE S3.RNUM BETWEEN #{startRow} AND #{endRow};
	</select>

	<select id="countStadium" resultType="int">
		SELECT COUNT(S4.RNUM)
		FROM
		(SELECT S3.*
		FROM (SELECT @ROWNUM:=@ROWNUM+1 AS RNUM,S2.*
		FROM (SELECT
		S1.*,COUNT(G.MEMBER_INDEX) AS PEOPLE
		FROM (SELECT
		TIME_INDEX,TIME,TIME_PRICE,T.STADIUM_INDEX,S.STADIUM_NAME,S.STADIUM_PHOTO,S.STADIUM_ADDR,S.LATITUDE,S.HARDNESS,D.DATE
		FROM DATE D,TIME T LEFT JOIN STADIUM S
		ON T.STADIUM_INDEX LIKE
		S.STADIUM_INDEX
		WHERE DATE LIKE '2019-05-26') S1, GAME G
		WHERE G.TIME_INDEX LIKE S1.TIME_INDEX
		GROUP
		BY S1.TIME_INDEX
		ORDER BY S1.TIME,S1.STADIUM_INDEX) S2, (SELECT
		@ROWNUM:=0) TMP) S3) S4;
	</select>

	<select id="searchStadium" resultMap="result"
		parameterType="com.suports.web.cmm.Proxy">
		SELECT S3.*
		FROM
		(SELECT @ROWNUM:=@ROWNUM+1 AS RNUM,S2.*
		FROM (SELECT
		S1.*,COUNT(G.MEMBER_INDEX) AS PEOPLE
		FROM (SELECT
		TIME_INDEX,TIME,TIME_PRICE,T.STADIUM_INDEX,S.STADIUM_NAME,S.STADIUM_PHOTO,S.STADIUM_ADDR,S.LATITUDE,S.HARDNESS,D.DATE
		FROM DATE D,TIME T LEFT JOIN STADIUM S
		ON T.STADIUM_INDEX LIKE
		S.STADIUM_INDEX
		WHERE DATE LIKE '2019-05-26') S1, GAME G
		WHERE G.TIME_INDEX LIKE S1.TIME_INDEX AND
		S1.STADIUM_ADDR LIKE '%${search}%' AND S1.TIME LIKE '${time}'
		GROUP BY
		S1.TIME_INDEX
		ORDER BY S1.TIME,S1.STADIUM_INDEX) S2, (SELECT
		@ROWNUM:=0) TMP) S3
		WHERE S3.RNUM BETWEEN #{startRow} AND #{endRow};


	</select>
	<select id="selectSeoulStadium" resultMap="result"
		parameterType="com.suports.web.cmm.Proxy">
		SELECT S2.*
		FROM (SELECT @ROWNUM:=@ROWNUM+1 AS RNUM, S.*
		FROM (SELECT * FROM STADIUM ORDER BY STADIUM_INDEX DESC) S, (SELECT
		@ROWNUM:=0)TMP
		WHERE S.AREA_INDEX LIKE '10') S2
		WHERE S2.RNUM BETWEEN
		#{startRow} AND #{endRow};
	</select>
	<select id="selectIncheonStadium" resultMap="result"
		parameterType="com.suports.web.cmm.Proxy">
		SELECT S2.*
		FROM (SELECT @ROWNUM:=@ROWNUM+1 AS RNUM, S.*
		FROM (SELECT * FROM STADIUM ORDER BY STADIUM_INDEX DESC) S, (SELECT
		@ROWNUM:=0)TMP
		WHERE S.AREA_INDEX LIKE '11') S2
		WHERE S2.RNUM BETWEEN
		#{startRow} AND #{endRow}
	</select>
	<select id="selectGyeonggiStadium" resultMap="result"
		parameterType="com.suports.web.cmm.Proxy">
		SELECT S2.*
		FROM (SELECT @ROWNUM:=@ROWNUM+1 AS RNUM, S.*
		FROM (SELECT * FROM STADIUM ORDER BY STADIUM_INDEX DESC) S, (SELECT
		@ROWNUM:=0)TMP
		WHERE S.AREA_INDEX LIKE '12') S2
		WHERE S2.RNUM BETWEEN
		#{startRow} AND #{endRow}
	</select>
	<select id="countSearch" resultType="int"
		parameterType="hashmap">
		SELECT COUNT(*)
		FROM (SELECT S3.*
		FROM
		(SELECT
		@ROWNUM:=@ROWNUM+1 AS RNUM,S2.*
		FROM (SELECT
		S1.*,COUNT(G.MEMBER_INDEX)
		AS PEOPLE
		FROM (SELECT
		TIME_INDEX,TIME,TIME_PRICE,T.STADIUM_INDEX,S.STADIUM_NAME,S.STADIUM_PHOTO,S.STADIUM_ADDR,S.LATITUDE,S.HARDNESS,D.DATE
		FROM DATE D,TIME T LEFT JOIN STADIUM S
		ON T.STADIUM_INDEX LIKE
		S.STADIUM_INDEX
		WHERE DATE LIKE '2019-05-26') S1, GAME G
		WHERE G.TIME_INDEX LIKE S1.TIME_INDEX AND
		S1.STADIUM_ADDR LIKE '%${search}%' AND S1.TIME LIKE '${time}'
		GROUP BY S1.TIME_INDEX
		ORDER BY
		S1.TIME,S1.STADIUM_INDEX) S2, (SELECT
		@ROWNUM:=0) TMP) S3)S4;
	</select>
	<select id="countSeoulSearch" resultType="int"
		parameterType="string">
		SELECT COUNT(*)
		FROM(SELECT S2.*
		FROM (SELECT
		@ROWNUM:=@ROWNUM+1 AS RNUM, S.*
		FROM (SELECT * FROM STADIUM ORDER BY
		STADIUM_INDEX DESC) S, (SELECT
		@ROWNUM:=0)TMP
		WHERE S.AREA_INDEX LIKE
		'10') S2) S3
	</select>
	<select id="countIncheonSearch" resultType="int"
		parameterType="String">
		SELECT COUNT(*)
		FROM(SELECT S2.*
		FROM (SELECT
		@ROWNUM:=@ROWNUM+1 AS RNUM, S.*
		FROM (SELECT * FROM STADIUM ORDER BY
		STADIUM_INDEX DESC) S, (SELECT
		@ROWNUM:=0)TMP
		WHERE S.AREA_INDEX LIKE
		'11') S2) S3
	</select>
	<select id="countGyeonggiSearch" resultType="int"
		parameterType="String">
		SELECT COUNT(*)
		FROM(SELECT S2.*
		FROM (SELECT
		@ROWNUM:=@ROWNUM+1 AS RNUM, S.*
		FROM (SELECT * FROM STADIUM ORDER BY
		STADIUM_INDEX DESC) S, (SELECT
		@ROWNUM:=0)TMP
		WHERE S.AREA_INDEX LIKE
		'12') S2) S3
	</select>
	<select id="areaAllStadium" resultMap="result">
		SELECT
		T2.*,COUNT(G.MEMBER_INDEX) AS PEOPLE
		FROM GAME G,(SELECT
		S.STADIUM_INDEX,S.STADIUM_NAME,S.STADIUM_PHOTO,S.STADIUM_ADDR,S.LATITUDE,S.HARDNESS,
		T1.TIME_INDEX,A.AREA_NAME,T1.TIME_PRICE,T1.TIME,T1.DATE
		FROM
		STADIUM S
		JOIN AREA A
		ON S.AREA_INDEX LIKE A.AREA_INDEX,
		(SELECT
		STADIUM_INDEX,TIME_INDEX,TIME_PRICE,TIME,D.DATE
		FROM TIME T,(SELECT
		DATE
		FROM DATE
		WHERE DATE LIKE '2019-05-26') D
		WHERE TIME = '09:00') T1
		WHERE S.STADIUM_INDEX LIKE T1.STADIUM_INDEX) T2
		WHERE G.TIME_INDEX LIKE
		T2.TIME_INDEX
		GROUP BY T2.TIME_INDEX;
	</select>

	<select id="selectStadiumName" parameterType="int"
		resultType="string">
		SELECT STADIUM_NAME FROM STADIUM WHERE STADIUM_INDEX=
		#{value};
	</select>
</mapper>