<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suports.web.mapper.StadiumMapper">

<resultMap id="result" type="hashmap">
  <id property="stadiumIndex" column="STADIUM_INDEX" />
  <result property="stadiumName" column="STADIUM_NAME"/>
  <result property="sportsIndex" column="SPORTS_INDEX"/>
  <result property="areaIndex" column="AREA_INDEX"/>
  <result property="stadiumPhoto" column="STADIUM_PHOTO"/>
  <result property="stadiumInfo" column="STADIUM_INFO"/>
  <result property="areaName" column="AREA_NAME"/>
</resultMap>

<select id="selectStadiumList"  resultMap="result">
   SELECT @ROWNUM:=@ROWNUM+1 AS rownum,
           S.*
    FROM STADIUM S, (SELECT @ROWNUM:=0)TMP
    ORDER BY rownum DESC
    limit #{startRow}, #{pageSize};
  </select>
  <select id="countStadium" resultType="int">
    SELECT COUNT(*) FROM STADIUM
  </select>
  <select id="selectStadiumlists" resultMap="result"
	parameterType="com.suports.web.Proxy">
 	SELECT S.*
	FROM STADIUM S
	WHERE S.STADIUM_INFO LIKE #{search}
	limit #{startRow}, #{pageSize}
	  </select>	 

	<select id="countStadiums" resultType="int"  parameterType="string">
  SELECT COUNT(*)
	FROM STADIUM S 
		WHERE S.STADIUM_INFO LIKE #{value}
      </select>
	<select id="selectAllStadium" resultMap="result">
		SELECT STADIUM_NAME,STADIUM_INFO,STADIUM_PHOTO,A.AREA_NAME
		FROM STADIUM S JOIN AREA A
			ON S.AREA_INDEX LIKE A.AREA_INDEX;
	  </select>
	  
</mapper>